body,h1,h2,h3,h4,h5,h6,li,ol,ul {
	font-family:verdana,arial,helvetica;
}

body {
	font-size:70%;
}

h1 {
	font-size:140%;
	font-style:normal;
	font-weight:bold;
	margin:0px 0px 5px 0px;
	padding:0px;
}

h2 {
	font-size:120%;
	font-style:normal;
	font-weight:bold;
	margin:0px;
	padding:0px;
}

h3 {
	font-size:100%;
	font-style:normal;
	font-weight:bold;
	margin:0px;
	padding:0px;
}
